{{define "partials/navbar"}}

  <br/>
  <a href="/about">about</a>

    {{if .is_login}}
      ( <a href="/logout">logout</a> )
    {{else}}
      <a href="/login">login</a> |
      <a href="/signup">signup</a>
    {{end}}

{{end}}
