<!doctype html>
<html class="no-js"
  {{if .head_lang}}
    lang="{{.head_lang}}"
  {{else}}
    lang="en"
  {{end}}
  >

  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="/assets/css/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>

    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{ template "partials/admin_navbar_brand" }}
        </div>
      </div>
    </nav>

    <div class="container">
      <br />
      <br />
      <br />
      {{ template "partials/flash" . }}

      <br />
      {{ template "content" . }}
    </div>

    <footer class="footer">
      {{ template "partials/footer" }}
    </footer>
  </body>
</html>
