<!doctype html>
<html AMP>
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {{if .meta_keywords}}
        <meta name="keywords" content="{{.meta_keywords}}">
      {{end}}

      <!-- User Open Graph data -->
      {{if .userData}}
        <meta property="og:title" content="{{.head_title}}" />
        <meta property="og:type" content="article" />
        {{if .canonicalURL}}
        <meta property="og:url" content="{{.canonicalURL}}" />
        {{end}}

        {{if .og_description}}
        <meta property="og:description" content="{{.og_description}}" />
        {{end}}

        {{if .og_site_ame}}
        <meta property="og:site_name" content="{{.og_site_ame}}" />
        {{end}}
      {{end}}


      <!-- only one style tag is allowed, and it must have an "amp-custom" attribute -->
      <style amp-custom>
        body {
          background-color: white;
        }
        amp-img {
          background-color: gray;
        }
      </style>

      <script type="application/ld+json">
    			{
    				"@context": "http://schema.org",
    				"@type": "NewsArticle",
            "mainEntityOfPage": "http://example.ampproject.org/article-metadata.html",
            "headline": "Lorem Ipsum",
            "datePublished": "1907-05-05T12:02:41Z",
            "dateModified": "1907-05-05T12:02:41Z",
            "description": "The Catiline Orations continue to begule engineers and designers alike -- but can it stand the test of time?",
            "author": {
              "@type": "Person",
              "name": "Jordan M Adler"
            },
            "publisher": {
              "@type": "Organization",
              "name": "Google",
              "logo": {
                "@type": "ImageObject",
                "url": "http://cdn.ampproject.org/logo.jpg",
                "width": 600,
                "height": 60
              }
            },
            "image": {
              "@type": "ImageObject",
              "url": "http://cdn.ampproject.org/leader.jpg",
              "height": 2000,
              "width": 800
            }
          }
      </script>
      {{if .head_title}}
        <title>{{ .head_title }}</title>
      {{end}}

      {{if .head_description }}
        <meta name="description" content="{{ .head_description }}">
      {{end}}
      <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
      <script async src="https://cdn.ampproject.org/v0.js"></script>

      {{if false}}
      {{if false }}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      {{else}}
        <link rel="stylesheet" href="/assets/css/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome/4.3.0/css/font-awesome.min.css">
      {{end}}
      {{end}}

      <!-- Twitter Card tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@AMPhtml">
      <meta name="twitter:creator" content="@AMPhtml">
      <meta name="twitter:title" content="Lorem Ipsum">
      <meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.">
      <meta name="twitter:image" content="http://cdn.ampproject.org/leader.jpg">


    </head>
    <body>
      {{if false}}
      <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      {{end}}

      <div class="container">

        {{ template "content" . }}

      </div>

      <footer class="footer">
        {{ template "partials/amp_footer" }}
      </footer>

    </body>

</html>
